*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 1300px;
    margin: 0 auto;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container h1{
    margin-bottom: 24px;
    font-size: 40px;
}

.container p{
    font-size: 25px;
    margin-bottom: 24px;
}
.block{
    display: flex;
    gap: 0px 25px;
}
.block .box{
    flex-basis: 33.33%;
}
.box img{
    width: 70px;
    margin-bottom: 10px;
   
}
.box h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.box p{
    font-size: 18px;
    line-height: 24px;
}


.logo{
    max-width: 1100px;
     gap: 0px 100px;
     margin: 0 auto;
     margin-top: 100px;
    display: flex;
}
.logo img {
    width: 550px;
    height:550px;
  
}
.data{
    font-size: 22px;
}
.data h3{
    margin-top: 25px;
    font-size: 22px;
}
.data p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
}

button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid white;
    background-color: #F20091;
    color: #fff;
}

.container2{
   max-width: 1100px;
   margin: 0 auto;
   margin-top: 100px;
}
.data2{
    width: 550px;
    height:550px;
     float: left;
}
    
.data2 h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.data2 p{
   font-size: 20px;
}

.subData{
    display: flex;
    width: 550px;
    gap: 0px 30px;
}
.sub1 img ,.sub2 img{
    width: 70px;
    margin-top: 50px;
}
.sub1 h3 ,.sub2 h3{
    font-size: 22px;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.sub1 p,.sub2 p{
    font-size: 20px;
    line-height: 25px;
}

.logo2 img{
     width: 550px;
     height: 550px;
}


.logo3{
     max-width: 1100px;
     gap: 0px 100px;
     margin: 0 auto;
     margin-top: 200px;
     display: flex;
}
.logo3 img{
    width: 510px;
    height: 510px;
}
.data3{
    font-size: 22px ;
}
.data3 p{
    font-size: 19px;
    margin-top: 25px;
}
.main{
    display: flex;
    width: 500px;
    gap: 30px 30px;
}
.main1 img ,.main2 img{
    width: 70px;
    margin-top: 50px;
}
.main1 h3 ,.main2 h3{
    font-size: 22px;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
.main1 p,.main2 p{
    font-size: 20px;
    line-height: 25px;
}
