header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 200px;
    height: 100px;
}
nav{
    margin-left: auto;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 24px;
}
.active,nav ul li a:hover{
    color: brown;
    border-bottom:2px solid  brown;
}

header button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    margin-right:16px;
}
@media screen and (max-width:900px){
    header{
        flex-direction: column;
        text-align: center;
    }
    nav{
        margin-left: 0px;
    }
}

