*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container {
    display: flex;
    justify-content: space-between;
    /* height: 40px; */
    background-color: #F0F0F0;
}
 

.icon {
     margin-left: 80px;
     width:30%;
    color: gray;
    size: 10px;

}


.icon i{
    padding: 10px;

} 

.icon i:hover {
    transition: all 0.2s;
    cursor: pointer;
    color: orangered;
}




.links ul li {
    list-style: none;
    display: inline-block;
   
    
}

.links ul li a {
    display: inline-block;
    text-decoration: none;
    color:grey;
    font-size: 12px;
    font-weight: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-right: 40px;
}

.links ul li a:hover {
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(222, 88, 40);
}

.links{
    position: relative;
}

.links ul li ul li{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 520px;
    

}

